@import 'sass/breakpoints';
@import 'sass/variables';

html{
    overflow-x: hidden !important;
}
.mobileMenuIcon{
    display: none;
    height: auto;
    margin-right: auto;
    svg{
        width: 23px;
        height: 23px;
        stroke: #fff;
        vertical-align: middle;
        fill: #fff;
        stroke-width: 2px;
    }
    @include md{
        display: block;
    }
}
.searchContainer{
    display: none;
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 95%;
    height: fit-content;
    padding: 30px;
    z-index: 99999;
    max-width: 500px;
    form{
        @include sbflex;
        button{
            border: none;
            background-color: #000;
            padding: 0 15px;
            cursor: pointer;
            width: 55px;
            svg{
                fill: #fff;
                stroke: #fff;
            }
            order: 2;
        }
        input{
            margin: 0;
            width: calc(100% - 55px);
            order: 1;
        }
        .searchBtn{
            order: 3;
            text-align: center;
            margin-top: 20px;
            width: 100%;
            button{
                width: max-content;
                background-color: #ee7d39;
                padding: 15px 30px;
                color: #fff !important;
                font-weight: 500;
                transition: all 0.3s;
                border: 1px solid #ee7d39;
                cursor: pointer;
                &:hover{
                    background-color: #987b2b;
                    border-color: #987b2b;
                }
            }
            a{
                cursor: pointer;
            }
        }    
    }
}
.mainOverlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    svg{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 40px;
        top: 40px;
    }
}
.showOverlay{
    opacity: 1;
    visibility: visible;
}
.mobMenuContainer{
    position: fixed;
    width: 350px;
    z-index: 999999;
    right: -400px;
    margin: auto;
    background-color: #fff;
    top: 0;
    bottom: 0;
    height: auto;
    overflow-y: scroll;
    transition: all 0.3s;
    >svg{
        stroke: #4e4e4e;
        width: 35px;
        height: 35px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mobileMenu{
        ul{
            padding: 0;
            margin: 0;
            li{
                margin: 0;
                padding: 0 10px; 
                border-bottom: 1px solid #22222219;
                &::before{
                    display: none;
                }
                a{
                    font-size: 15px;
                    font-weight: 600;
                    display: block;
                    width: 100%;
                    padding: 15px 10px;
                }
            }
            .menu-item-has-children{
                @include sbflex;
                align-items: center;
                a{
                    width: calc(100% - 23px);
                }
                svg{
                    width: 23px;
                    height: 23px;
                    stroke: #000;
                }
                ul{
                    display: none;
                    width: 100%;
                    li{
                        border-bottom: 2px solid #fff;
                        background-color: #efefef;
                        a{
                            width: 100%;
                            font-size: 13.5px;
                        }
                    }
                }
            }
        }
    }    
}

.showMobileMenu{
    right: 0;
}
/* Header */
.mainHeaderBack{
    z-index: 9999;
    .mainHeader{
        @include sbflex;
        padding: 5px 0;
        justify-content: flex-start;
        align-items: center;
        .headerLogoPart{
            margin-left: 30px;
            img{
                height: 65px;
                @include sm{
                    height: 55px;
                }
            }
        }
        .mainMenu{
            @include md{
                display: none
            }
            ul{
                @include sbflex;
                padding: 0;
                margin: 0;
                cursor: pointer;
                li{
                    position: relative;
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 0;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    &::before{
                        display: none;
                    }
                    a{
                        color: #fff;
                        font-size: 13.5px;
                        font-weight: 500;
                    }
                }
                .menu-item-has-children{
                    position: relative;
                    display: flex;
                    ul{
                        transition: all 0.3s;
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        top: 50%;
                        left: 0;
                        right: 0;
                        background-color: #fff;
                        box-shadow: 1px 1px 10px 0 rgba(0 , 0 , 0 , 0.3);
                        width: max-content;
                        display: flex;
                        flex-direction: column;
                        z-index: 999;
                        li{
                            margin: 0;
                            padding: 0;
                            a{
                                font-weight: 700;
                                font-size: 13px;
                                color: #3C3C3C;
                                transition: all 0.3s;
                                display: block;
                                display: block;
                                padding: 10px 0;
                                border-bottom: 1px solid #CCCCCC;
                                width: 100%;
                                min-width: 150px;
                                padding-right: 5px;
                            }
                            &:hover{
                                a{
                                    color: #ee7d39;
                                }
                            }
                        }
                    }
                    svg{
                        fill: transparent;
                        stroke: rgba(255 , 255 , 255 , 0.7);
                        width: 23px;
                        height: 23px;
                        transition: all 0.6s;
                    }
                    &:hover{
                        ul{
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                        }
                        svg{
                            transform: rotate(180deg);
                        }
                    }
                }
                .current-menu-item{
                    &::after{
                        position: absolute;
                        content: "";
                        height: 1px;
                        background-color: #ee7d39;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        z-index: 999;
                    }
                }
            }
        }
    }
}
.headerSearchPart{
    margin-right: auto;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include md{
        margin-right: 25px;
    }
    span{
        display: block;
        height: 23px;
        svg{
            width: 23px;
            height: 23px;
            stroke: #fff;
            stroke-width: 10px;
            fill: #fff;
        }    
    }
}
.headerPhonePart{
    @include xs{
        display: none;
    }
    display: flex;
    margin-right: auto;
    flex-direction: column;
    text-align: left;
    border: 1px solid #fedc70;
    padding: 5px;
    text-align: center;
    span{
        &:nth-child(1){
            font-size: 13px;
            font-weight: 700;
            color: #d9d9d9;
            letter-spacing: 3px;
        }
        &:nth-child(2){
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.stickyHeader{
    position: fixed;
    left: 0;
    right: 0;
    top: -130px;
    transition: all 0.5s;
    .topHeaderBack{
        width: 100%;
        position: relative;
    }
    .mainHeaderBack{
        width: 100%;
        position: relative;
    }
}
.showStickyHeader{
    top: 0;
    z-index: 99998;
    .mainHeaderBack {
        .headerLogoPart{
            width: max-content;
            height: auto;
            img{
                vertical-align: middle;
                height: 55px;
            }
        }    
    }
}

.topHeaderBack{
    background-color: #354046;
    @include xs{
        display: none;
    }
    .topHeader {
        display: flex;
        align-items: center;
        padding: 5px 0;

        a{
            color: #fff;
            font-size: 12.5px;
            margin-left: 25px;
        }
    }
}

.aboutMainSection{
    .aboutMainInner{
        .sectionTwinItemImg{
            width: 35%;
            @include xs{
                width: 100%;
            }
            img{
                display: block;
            }
        }
        .sectionTwinItemTxt{
            width: 63%;
            @include xs{
                width: 100%;
            }
            .twinListParent{
                li{
                    width: 30%;
                    @include xs{
                        width: 100%;
                    }
                    margin: 20px 0;
                }
            }
        }

    }
}
.aboutCounter{
    .counterNumbers{
        &::before{
            background-color: rgba(255 , 255 , 255 , 0.7 );
        }
        .counterNumbersInner{
            .counterItem{
                color: #3C3C3C;
            }
        }
    }
}
.aboutServices{
    p{
        text-align: justify;
        text-align-last: center;
        margin: 20px 0;
    }
    .sectionHeading{
        margin-bottom: 0;
    }
}
.alignleft {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.aligncenter{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.contactUsPage{
    .cosultationSection{
        padding: 0;
        .cosultationSection {
            .flexPart{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .rowUp{
                    @include sbflex;
                    justify-content: center;
                    width: 100%;
                    a{
                        width: 25%;
                        @include xs{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        display: flex;
                        align-items: center;
                        span{
                            margin-right: 5px;
                        }
                    }
                }
                .rowDown{
                    margin: 30px 0;
                    @include xs{
                        margin-top: 0;
                        margin-bottom: 20px;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        span{
                            margin-right: 5px;
                            width: calc(100% - 25px);
                        }
                    }
                }
                .footerIconSocial{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    svg{
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
.singleSource{
    margin-top: 30px;
    margin-bottom: 30px;
    .sourceIconText{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .sourceText{
            font-size: 13px;
            font-weight: 700;
        }
        .sourceIcon{
            margin-left: 10px;
        }
    }
}
.sourceCardItem{
    h2{
        border: none;
        margin: 0;
        padding: 10px 0;
        background: linear-gradient(135deg, #e6bc47 0, #ee7d39 50%, #e6bc47 100%);
        color: #fff;
        &::after{
            display: none;
        }
    }
    .blogCardFooter{
        justify-content: center;
        .blogCardFooterItem{
            margin: 0 10px;
        }
    }
    .readMore{
        width: max-content;
        padding: 8px;
        color: #c59f38;
        margin: 10px auto 10px 10px;
        font-size: 14px;
        font-weight: 700;
        transition: all 0.3s;
        &:hover{
            color: #a88931;
        }
    }
}
.sourceArchiveParent{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 30px;
    margin: 30px 0;
    @include md{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include sm{
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    @include xs{
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
}
.sourceCats{
    @include sbflex;
    justify-content: center;
    a{
        padding: 5px 10px !important;
    }
}
.singleSample{
    margin-bottom: 30px;
    margin-top: 30px;
    .downloadBoxTitle{
        display: block;
        font-size: 14px;
        font-weight: 800;
        color: #4e4e4e;
    }
    .sampleDownloadBox{
        border: 1px solid #dbb345;
        background-color: #fffcf5;
        padding: 20px;
        .sampleLinkGp{
            border-bottom: 1px solid rgba(0,0,0,0.06);
            padding-bottom: 10px;
            margin-bottom: 15px;
            a{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                margin: 10px 0;
                color: #242424;
                span{
                    margin-right: 5px;
                }
            }
            &:last-child{
                border-bottom: none;
                margin-bottom: 0;

            }
        }
    }
}
.sampleCardItem {
    .readMore{
        width: max-content;
        margin: auto;
        margin-bottom: 10px;
        background: linear-gradient(135deg, #e6bc47 0, #ee7d39 50%, #e6bc47 100%);
        padding: 5px;
        color: #fff;
        font-size: 13.5px;
        font-weight: 500;
    }
}
.sampleArchiveParent{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 30px;
    margin: 30px 0;
    @include md{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @include sm{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include xs{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 15px;
    }
}
.loopAllCategory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
        padding: 5px 10px !important;
    }
}